<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="SimpleFactory">
            <directory>SimpleFactory/tests</directory>
        </testsuite>
        <testsuite name="Strategy">
            <directory>Strategy/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>